@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --azulclaroapp: #006dff;
  --azulescuroapp: #001633;
  --azulchumboescuro: #213044;
  --azulchumboclaro: #274c7d;
  --cinzachumbo: #2e2e2e;
  --brancopuro: #ffffff;
  --pretopuro: #000000;
}

::placeholder {
  color: var(--brancopuro);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

button .entrar :hover {
  color: #006dff;
}
